@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&family=Quicksand:wght@500;700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  background-color: #f0ebce;
  padding-inline: 7px;
  padding-block: 1rem;
}

header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  background: #121212;
  padding: 10px 11px;
  /* border-radius: 10px; */
  position: fixed;
  top: 0;
  margin-inline: -1px;
}

main #content {
  display: flex;
}

.logo,
nav > ul > li > a,
label {
  color: #ffffff;
}

label {
  display: none;
}
.logo img {
  padding: 10px;
  width: 120px;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
}

li a:hover {
  color: green;
}

main {
  max-width: 1080px;
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

#content {
  margin-top: 30px;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.card-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #4e6e81;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.button {
  border-color: #707070;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.jumbotron {
  display: flex;
  margin-top: 15px;
  align-items: stretch;
  /* max-width: 100%; */
  align-self: center;
  background-image: url("/asset/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1000px;
  height: 60vh;
}

.overlay {
  display: flex;
  background-color: rgba(126, 123, 123, 0.15);
  backdrop-filter: blur(2.5px);
  align-self: flex-end;
}

.jumbotron .overlay p {
  font-family: "Quicksand", cursive;
  font-size: 25px;
  font-weight: 700;
  color: #1f3529;
  text-align: center;
  align-self: flex-end;
}

#content .card {
  margin-top: 30px;
  flex-wrap: wrap;
  text-align: justify;
}
.card-article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 3rem;
}
.card-article .card-title .desc-card {
  align-self: flex-start;
}

.card-article button {
  align-self: flex-start;
}

.card-article img {
  width: 250px;
}

main .biodata {
  margin-top: 18px;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.biodata .sub-bio1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.biodata .sub-bio1 h3 {
  text-align: center;
}

.biodata .sub-bio1 img {
  align-self: flex-start;
  margin-bottom: 15px;
  width: 280px;
  border-radius: 30px;
  border: 2.5px solid rgb(30, 31, 31);
}

.biodata .sub-bio2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.biodata .sub-bio2 p {
  font-size: 19px;
  text-align: justify;
  margin-bottom: 20px;
}

.sosmed-btn {
  margin-top: 50px;
  align-self: center;
  width: 280px;
  height: 80px;
  background: #ece;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.33 linear;
}

.sosmed-btn:hover {
  transform: scale(1.1);
}

.sosmed-btn span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9970fd;
  color: #f1f1f1;
  text-align: center;
  line-height: 80px;
  z-index: 999;
  transition: 0.43 linear;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.sosmed-btn:hover span {
  transform: translateX(-100%);
  transition-delay: 0.3s;
}

.sosmed-btn a {
  flex: 1;
  font-size: 26px;
  color: #2d3436;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
}

.sosmed-btn:hover a {
  opacity: 1;
  transform: translateX(0);
}

.sosmed-btn a:nth-of-type(1) {
  transition-delay: 1s;
}

.sosmed-btn a:nth-of-type(2) {
  transition-delay: 0.8s;
}
.sosmed-btn a:nth-of-type(3) {
  transition-delay: 0.6s;
}
.sosmed-btn a:nth-of-type(4) {
  transition-delay: 0.4s;
}

footer {
  background-color: #707070;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
  border: 2px solid black;
  border-radius: 7px;
}

/* media query mobile max 768px*/

@media screen and (max-width: 768px) {
  main {
    /* width: 50%; */
    flex-flow: column nowrap;
  }
  label {
    display: block;
  }

  nav {
    position: fixed;
    width: 100%;
    align-self: center;
    position: absolute;
    background: #ffffff;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    visibility: 0;
    opacity: 0;
    transition: 0.3s ease;
  }

  nav > ul > li > a,
  nav > label {
    color: #111;
  }

  nav > label {
    text-align: right;
  }

  nav > ul {
    flex-direction: column;
  }

  input:checked ~ nav {
    visibility: visible;
    opacity: 1;
  }

  main #content {
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100%;
  }

  main #content .card {
    align-self: center;
    flex-wrap: wrap;
  }

  main .jumbotron {
    display: flex;
    max-width: 545px;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .jumbotron .overlay {
    align-items: flex-end;
    height: fit-content;
    margin-top: 310px;
    flex-wrap: wrap;
  }
  main .jumbotron .overlay p {
    flex-wrap: wrap;
    font-size: medium;
    text-align: center;
    justify-content: flex-end;
  }

  main aside {
    flex-flow: column nowrap;
    align-self: center;
  }

  main .biodata {
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  .biodata .sub-bio1 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .sub-bio1 img {
    margin-left: 39px;
    flex-direction: column;
    align-self: center;
    justify-self: center;
  }

  .sub-bio1 p {
    flex-wrap: wrap;
  }
}
/* end media query mobile */

/* media query mobile max 500px*/

@media screen and (max-width: 500px) {
  main {
    /* width: 50%; */
    position: relative;
    flex-flow: column nowrap;
  }
  label {
    display: block;
  }

  nav {
    position: fixed;
    width: 100%;
    position: absolute;
    background: #ffffff;
    top: 0px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    visibility: 0;
    opacity: 0;
    transition: 0.3s ease;
  }

  nav > ul > li > a,
  nav > label {
    color: #111;
  }

  nav > label {
    text-align: right;
  }

  nav > ul {
    flex-direction: column;
  }

  input:checked ~ nav {
    visibility: visible;
    opacity: 1;
  }

  main #content {
    flex-flow: column nowrap;
    position: relative;
    height: 100%;
    justify-content: center;
  }

  main #content .card {
    align-self: center;
    flex-wrap: wrap;
  }

  main .jumbotron {
    max-width: 390px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
    align-self: center;
  }

  main aside {
    flex-flow: column nowrap;
    max-width: 380px;
    align-self: center;
  }
}
/* end media query mobile */
